.container {
    background-image: url("/view/rpglb15-layouts/img/bg/rpglb-sd2.png");
    background-size: cover;
}

.game {
    width: 410px;
    height: 70px;
    left: 429px;
    top: 105px;
}
.game-title {
    font-size: 24px;
}
.game-srDetails-category {
    font-size: 16px;
}
.game-srDetails-estimate {
    font-size: 16px;
}

.header {
    width: 500px;
    height: 40px;
    left: 360px;
    top: 36px;
}
.header .social {
    margin-left: 1.5ex;
}

#runner1 {
    left: 72px;
    top: 227px;
}
#runner2 {
    left: 696px;
    top: 227px;
}
.runner-info {
    width: 547px;
    height: 60px;
}
.runner {
    float: left;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
}
.runner-social {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.extra {
    left: 370px;
    top: 174px;
    width: 439px;
}