.container {
    background-image: url("/view/rpglb15-layouts/img/bg/rpglb-hd2.png");
    background-size: cover;
}

.game {
    width: 410px;
    height: 70px;
    left: 516px;
    top: 165px;
}
.game-title {
    font-size: 28px;
}
.game-srDetails-category {
    font-size: 18px;
}
.game-srDetails-estimate {
    font-size: 18px;
}

.header {
    width: 500px;
    height: 40px;
    left: 431px;
    top: 67px;
}
.header .social {
    margin-left: 1.5ex;
}

#runner1 {
    left: 54px;
    top: 329px;
}
#runner2 {
    left: 681px;
    top: 329px;
}
.runner-info {
    width: 568px;
    height: 60px;
}
.runner {
    float: left;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
}
.runner-social {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.extra {
    left: 444px;
    top: 252px;
    width: 439px;
}