<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>RPGLB 2015 View Index</title>
</head>
<body>
    <a href="/view/rpglb15-layouts/sd1.html"><p>SD, 1 Player</p></a>
    <a href="/view/rpglb15-layouts/sd1-coop2.html"><p>SD, 2 Player Co-op (KH2, WA, CT)</p></a>
    <a href="/view/rpglb15-layouts/sd2.html"><p>SD, 2 Player (Crystalis)</p></a>
    <a href="/view/rpglb15-layouts/sd4.html"><p>SD, 4 Player (FF4)</p></a>
    <a href="/view/rpglb15-layouts/hd1.html"><p>HD, 1 Player</p></a>
    <a href="/view/rpglb15-layouts/hd1-coop4.html"><p>HD, 4 Player Co-op (Xillia)</p></a>
    <a href="/view/rpglb15-layouts/hd2.html"><p>HD, 2 Player (Diablo 3)</p></a>
    <a href="/view/rpglb15-layouts/room.html"><p>Room</p></a>
</body>
</html>